:root {
    --color-inst-opcode: blue;
    --color-inst-register: rgb(10, 253, 31);
    --color-inst-immediate: yellow;
    --color-inst-nothing: lightgray;

    --tooltip-width: 120px;
}

.inst-container {
    grid-template-columns: 10% 90%;
    display: grid;
    justify-content: center;
    justify-items: stretch;
    align-content: center;
    align-items: start;
}

.inst-addresses {
    grid-template-columns: 100%;
    display: grid;
    justify-content: center;
    justify-items: stretch;
    align-content: center;
    align-items: center;

    padding-right: 20px;
}

.inst-code {
    grid-template-columns: repeat(4, calc(90% / 4));
    display: grid;
    justify-content: center;
    justify-items: stretch;
    align-content: center;
    align-items: center;
}

.outer-inst {
    background-color: grey;
    margin: 10px;
    display: flex;
    gap: 8px;
    justify-content: center;
    justify-self: normal;
}

.address-lines {
    background-color: rgb(85, 85, 85);
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
}

.outer-inst:hover {
    background-color: green;
    cursor: pointer;
}

#contents {
    background-color: rgb(48, 46, 46);
}

.hover-inst {
    position: relative;
    bottom: 0px;
    background: #0064ff;
}

.inst-name {
    color: grey;
    background-color: black;
}

.inst-attr {
    color: white;
    background-color: blue;
}

.rom-list > li {
    cursor: pointer;
}

.inner-inst {
    position: relative;
    padding: 5px;
}

.inner-inst .tooltip {
    visibility: hidden;
    width: var(--tooltip-width);
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: calc(50% - calc(var(--tooltip-width) / 2));
}

.inner-inst:hover .tooltip {
    visibility: visible;
}

.inner-inst:hover[type="opcode"] {
    background-color: var(--color-inst-opcode);
}

.inner-inst:hover[type="register"] {
    background-color: var(--color-inst-register);
}

.inner-inst:hover[type="immediate"] {
    background-color: var(--color-inst-immediate);
}

.inner-inst:hover[type="nothing"] {
    background-color: var(--color-inst-nothing);
}
